<div class="footerBox">
    <div class="row">
      <div class="col col-md-6 footerTitle">
        <h5 class="white-text footerLarge">Bank for America</h5>
        <p class="grey-text text-lighten-4 footerSmall">Making Financial Lives Better</p>
<p class="grey-text text-lighten-4 footerSmall">
    © 2019 Bank for America
</p>
      </div>
      <div class="col col-md-6 rightFooter">
<div class="col col-md-6">          
    <span><a class="grey-text text-lighten-3" style="color:white" href="/">Locations</a></span>
</div>
<div class="col col-md-6">
<span><a class="grey-text text-lighten-3" style="color:white" href="/about">About</a></span>
</div>
      </div>
    </div>
</div>


{{!-- 
<div class="row">
<div class="col col-md-12">
<div class="card footerContainer">
<span class="subtext">Secure Area</span>
<span class="subtext">Investment and insurance products</span>

<div class="row">
<div class="col col-md-12">
<div class="col col-md-4 footerBox">
<span class="subtext">FDIC Insured</span>
</div>
<div class="col col-md-4 footerBox">
<span class="subtext">Are Not Bank Guaranteed</span>
</div>
<div class="col col-md-4 footerBox">
<span class="subtext">May Lose Value</span>
</div>
</div>
</div>

<div class="row">
<div class="col col-md-12">
<div class="col col-md-4 footerBox">
<span class="subtext">Are Not Deposits</span>
</div>
<div class="col col-md-4 footerBox">
<span class="subtext">Are Not Insured By Any Federal Government Agency</span>
</div>
<div class="col col-md-4 footerBox">
<span class="subtext">Are Not a Condition to Any Banking Service or Activity</span>
</div>
</div>
</div>

</div>
</div>
</div> --}}

