body {
    background-color: white;
    margin: 0% !important;
    padding: 0%;
    width: 100%;
}
/* .container {
    width: 100%;
    margin: 0% !important;
    padding: 0%;
} */
.navHome {
    /* margin: 0% !important;
    padding: 0% !important;
    align-content: flex-end;
    height: 6vw;
    width: 100vw;

    font-size: 25px; */
    color: white !important;
    background-color:rgb(220, 20, 49);
}
.subNavHome {
    margin: 0%;
    padding: 0%;
    height: 4vw;
    width: 100vw;
    color: rgb(0, 0, 0);
    background-color: rgb(158, 149, 132);
    font-size: 20px;
    padding-left: 3.5%;
}
/* .footerBox {
    text-align: center;
    border: 1px solid #ccc;
    float: left;
    font-weight: bold;
    display: inline;
    margin-bottom: 5px;
    height: 80px;
    padding-top:20px;
    vertical-align: middle !important;
    height: 80px !important;
    padding-top: 20px !important;
    width: 300px;
} */
.footerContainer {
    width:70vw;
    height:250px;
    padding: 15px;
    margin: 0 0 1px 16px;
    color: #6b5e51;
    padding-top: 3px;
    background-color:#f9f7f4;
    margin-top: 80px !important; 
}
.iconGrid {
    display: flex;
}
.subtext {
    font-size: 14px;
  word-wrap: break-word;
  overflow-wrap:break-word;
}
.quickView {
    color: #524940;
    font-size: 16px;
    padding-left:42px;
}
.accountItem {
    background-color:#f9f7f4;
    margin-top: 3px;
overflow: hidden;
    padding-top: 6px;
}
.accountName {
        float: left;
    line-height: 24px;
    font-size: 16px;
    padding: 0 0 4px 45px;
    margin-top: 2px;
    position: relative;
    color: #0066b1;
}
.balanceItem {
    float: right;
    font-size: 16px;
    line-height: 24px;
    text-align: right;
    font-weight: bold;
}
.container {
    /* padding: 5%; */
    font-family: 'cnx-medium',Arial,sans-serif;
}
.welcomeSection {
    padding:22px;
    color:black;
}
.headerSection {
    color: #524940;
    font-size: 16px;
    overflow: hidden;
    padding-top:20px;
    padding-right:5px;
    border-bottom: 3px solid #0052c2;
}

.greeting {
    font-size: 22px;
    line-height: 28px;
    padding-right: 16px;
    vertical-align: middle;
    color: #524940;
}
.bankMessage {
    line-height: 12px;
    padding-bottom: 5px;
    color: #736862;
    font-size: 13px;
    padding-top: 10px;
}
.titleAccounts {
    font-size: 1.17em;
    font-weight:bold;
}
li {
    list-style: none;
}
.bigBox {
    margin: 0 0 1px 16px;
    color: #6b5e51;
    padding-top: 3px;
        background-color:#f9f7f4;
        margin-top: 80px !important;
}
.icon {
 font-size: 35px;
}
.iconBox {
    padding:15px;
    background-color:#fff;
    margin-right:5px;
    width: 200px;
    text-align: center;
}
.iconBox:hover {
    background-color:lightgrey;
}