<div class="row mainHome">
    <div class="col col-md-12 signupHeader">
        <h3>Sign out successful</h3>
        <h6>Thanks for choosing Bank for America. We look forward to serving you again.</h6>
       <br />
    <div class="row signOut">
         Grow your financial future today.
          <img src="/public/img/logout.jpg" width="200px" height="150px">
        </div>
    </div>



