{{!-- <div class="container"> --}}
    <div class="row">
        <div class="col col-md-12 toptransaction">
            <h3>Send {{data}} money using an account number at Bank of America</h3>
        </div>
    </div>
    <div class="row">
        <div class="col col-md-12">
        <div class="col col-md-8">
                <h4>Make a Transfer</h4>
        <div class="transactionForm">
        <div class="input-group mb-3">
                <div class="input-group-prepend">
                <label class="input-group-text" for="inputGroupSelect01">From:</label>
                <select class="custom-select" id="inputGroupSelect01">
                <option selected>Choose...</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
                </select>
                </div>
        </div>
        <br />
        <br />
        <div class="input-group mb-3">
                <div class="input-group-prepend">
                <label class="input-group-text" for="inputGroupSelect01">To</label>
    
                <select class="custom-select" id="inputGroupSelect01">
                <option selected>Choose...</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
                </select>
                </div>
        </div>
        <br />
        <br />
        <div class="input-group mb-3">
                <div class="input-group-prepend">
                        <label class="input-group-text" for="inputGroupSelect01">Amount:</label><input type="text" class="form-control" aria-label="Amount" value={{amount}}><div class="input-group-append"></div>
                </div>
        </div>
        <br />
                <input class="btn btn-primary" type="submit" value="Submit">
        </div>
        </div>
        <div class="col col-md-4">
                <div class="newTransactionForm">
                <p style="color: red;">NEW!</p><p>Transfer money to other members using an email address.</p> 
                </div>
                <br />
                <div class="quickHelp">
                <div style="border-right-color: #cac7c0; border-right-style: solid; border-right-width: 1px;">
                <h4>Quick Help</h4>
                </div>
                <P>How do I send money to someone using an email address?</P> 
                <br />
                <p>How much can I transfer using this service?</p>
                <br />
                <p>How long before a recipient recieves a their transfer?</p>
                </div>
        </div>
        </div>
    </div>
    <div class="row footer">
            <div class="col col-md-12">
            <div class="col col-md-9">
                <p>Secure Area</p>
            </div>
            <div class="col col-md-2" style="text-align: right; border-right-color: #cac7c0; border-right-style: solid; border-right-width: 1px;">
                <p>En Español</p>
            </div>
            <div class="col col-md-1"style="text-align: right;">
                <p>Sign Out</p>
            </div>
            </div>
    </div>
    <div class="row footer">
            <div class="col col-md-12">
                    <div class="col col-md-2" style="border-right-color: #cac7c0; border-right-style: solid; border-right-width: 1px;">
                            <p>Locations</p>
                    </div>
                    <div class="col col-md-2" style="border-right-color: #cac7c0; border-right-style: solid; border-right-width: 1px;">
                            <p>Contact Us</p>
                    </div>
                    <div class="col col-md-2" style="border-right-color: #cac7c0; border-right-style: solid; border-right-width: 1px;">
                            <p>Privacy & Security</p>
                    </div>
                    <div class="col col-md-3" style="border-right-color: #cac7c0; border-right-style: solid; border-right-width: 1px;">
                            <p>Online Banking Service Agreement</p>
                    </div>
                    <div class="col col-md-3">
                            <p>Advertising Practices</p>
                    </div>
            </div>
    </div>

{{!-- </div> --}}
