<!doctype html>
<html class="no-js" lang="">
<head>
  <meta charset="utf-8">
  <title>User Account Template</title>

  <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
   <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>


   <body>
   <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<div class="container"> 
<div class="welcomeSection"> 
<div class="row">
<div class="col col-md-8">
    <div class="bankMessage">Bank of America Preferred Client</div>
    <span class="greeting"> Hello,  {{{ test }}}</span>
    <div class="row headerSection">
        <div class="col col-md-12">
            <div class="titleAccounts"><img src="/img/logo.png" alt="logo" height="40" width="40s" styles="text-align:left; padding-right:5px;"> Personal Accounts</div>
        </div>
    </div>
     <div class="row accountGrid">
        <div class="col col-md-12">

                <div class="row accountItem">
        <div class="col col-md-6">
                <div class="col col-md-12 accountName">Adv Plus Banking</div>
                <br />
                <div class="col col-md-12 quickView"></div>
                </div>
            
        <div class="col col-md-6">
                <div class="balanceItem">$500</div>
                </div>
                </div>
  
   <div class="row accountItem">
        <div class="col col-md-6">
                <div class="col col-md-12 accountName">Savings Plus Banking</div>
                <br />
                <div class="col col-md-12 quickView"> Quick View </div>
                </div>
            
        <div class="col col-md-6">
                <div class="balanceItem">$600</div>
                </div>
        </div>

        </div>
    </div>

</div>
<div class="col col-md-4">
<div class="bankMessage">Enrolled since Apr 2019</div>
<div class="row">
<div class="col col-md-12">
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Activity Center</h5>
    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
   
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div>
</div>
</div>
</div>
</div>
<div>
</div>
</div>
</body>
</html>
{{! <script>
const fetch = require("node-fetch");
var apiUrl = "http://localhost:3002/api/account"

var userId = 201903;
var userInfo = []
function getUser(id) {
  //fetch(apiUrl + '/userAccount/' + id)
  fetch("http://localhost:3002/api/account/userAccount/201903")
  .then(function(response) {
    userInfo = response;
    console.log(userInfo)
  }).catch(err => {
    console.error(err);
  })

}
getUser(userId)
</script> }}
<style>
.quickView {
    color: #524940;
    font-size: 16px;
    padding-left:42px;
}
.accountItem {
    background-color:#f9f7f4;
    margin-top: 3px;
overflow: hidden;
    padding-top: 6px;
}
.accountName {
        float: left;
    line-height: 24px;
    font-size: 16px;
    padding: 0 0 4px 45px;
    margin-top: 2px;
    position: relative;
    color: #0066b1;
}
.balanceItem {
    float: right;
    font-size: 16px;
    line-height: 24px;
    text-align: right;
    font-weight: bold;
}
.container {
    padding: 5%;
    font-family: 'cnx-medium',Arial,sans-serif;
}
.welcomeSection {
    padding:22px;
    color:black;
}
.headerSection {
    color: #524940;
    font-size: 16px;
    overflow: hidden;
    padding-top:20px;
    padding-right:5px;
    border-bottom: 3px solid #0052c2;
}

.greeting {
    font-size: 22px;
    line-height: 28px;
    padding-right: 16px;
    vertical-align: middle;
    color: #524940;
}
.bankMessage {
    ine-height: 12px;
    padding-bottom: 5px;
    color: #736862;
    font-size: 13px;
    padding-top: 10px;
}
.titleAccounts {
    font-size: 1.17em;
    font-weight:bold;
}
li {
    list-style: none;
}

</style>